<div class="absolute top-[370px] right-0 z-10">
    <div class="relative">
        <img src="./assets/images/bg_banner.png" alt="bg-banner">
        <img src="./assets/images/iconFlag.png" class="absolute top-[115px] left-[-10px]" alt="flag">
        <p class="uppercase font-bigShouldersText font-normal text-[32px] text-text absolute top-[150px] right-[70px]">
            Everyday fun for everyone</p>
        <p class="font-normal font-spaceGrotesk text-[14px] text-text w-[352px] absolute top-[200px] left-[20px]">A few
            kilometers from Cheb, we have built a new
            entertainment centre <span
                class="bg-gradient-to-r from-[#009FE3] via-[#FFFFFF] to-[#E30613] bg-clip-text text-transparent">FUN
                Arena Cheb</span> for you. You will find
            entertainment and sports activities for children and adults here.
        </p>
    </div>
    <button class="bg-text rounded-[50px] flex items-center absolute top-[275px] right-[60px]">
        <p class="font-lexend font-bold text-base py-[9px] pl-3 pr-[10px]">+420737878891</p>
        <img src="./assets/icons/Frame (1).png" class="h-[30px] w-[30px] pr-1" alt="contact">
    </button>

</div>