<div class="absolute lg:top-[370px] top-[450px] right-0 z-10">
    <div class="relative">
        <img src="./assets/images/bg_banner.png" alt="bg-banner" class="lg:w-[440px] lg:h-[410px] w-[280px] h-[260px]">
        <img src="./assets/images/iconFlag.png" class="absolute lg:top-[115px] top-[45px] lg:left-[-10px] left-[-40px]" alt="flag">
        <p class="uppercase font-bigShouldersText font-normal lg:text-[32px] text-xl text-text absolute lg:top-[150px] top-[100px] lg:right-[70px] right-[50px]">
            Everyday fun for everyone</p>
        <p class="font-normal font-spaceGrotesk lg:text-[14px] text-[8px] text-text lg:w-[352px] w-[220px] absolute lg:top-[200px] top-[125px] left-[20px]">A few
            kilometers from Cheb, we have built a new
            entertainment centre <span
                class="bg-gradient-to-r from-[#009FE3] via-[#FFFFFF] to-[#E30613] bg-clip-text text-transparent">FUN
                Arena Cheb</span> for you. You will find
            entertainment and sports activities for children and adults here.
        </p>
    </div>
    <button class="bg-text rounded-[50px] flex items-center absolute lg:top-[275px] top-[173px] lg:right-[60px] right-[28px]">
        <p class="font-lexend font-bold lg:text-base text-xs lg:py-[9px] py-[4px] lg:pl-3 pl-1 lg:pr-[10px] pr-[5px]">+420737878891</p>
        <img src="./assets/icons/Frame (1).png" class="lg:h-[30px] lg:w-[30px] w-[22px] h-[22px] pr-1" alt="contact">
    </button>

</div>